.App {
  padding: 30px;
  display: flex;
}
*{
  list-style-type: none;

}
.App > div {
  margin-right: 50px;
}

.isDone {
  text-decoration: line-through;
  color: red;
  font-weight: bold;
}

.active {
  background-color: red;
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 2px 2px 2px;
}
.error {
  border: 3px solid red;
  outline: none;
}